*{
    box-sizing: border-box;
}
.container{
    width: 200mm;
    height: 267mm;
    margin: 50px 370px;
    background-color: white;
    border: 2.5px solid #333;
    padding: 0px 50px 50px 50px;
    border-radius: 5px;
}
body{
    background-color: rgba(170, 171, 172, 0.5);
}
hr{
    width: 78%;
    margin-top: 60px;
    margin-left: 5PX;
    margin-bottom: 20px;
    border: 2px solid #333;
    border-radius: 10px;
}
h1{
    font-weight: 600;
    margin-bottom: -5px;
}
.p{
    color: rgb(7, 140, 181);
    font-weight: 600;
    font-size: 1.1rem;
}
.ineducation{
    color: green;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 4px;
}
.inexperience{
     color: green;
    font-weight: 500;
    font-size: 1.2rem;
     margin-bottom: 4px;
}
#address{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#skill{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Education{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Experience{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Experience2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#internet{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:hover{
    opacity: 0.6;
}